*.gem
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
Gemfile.lock
_site/
node_modules/
vendor/
notes/*
notebooks/*
midterm-calculus.aux
midterm-calculus.fdb_latexmk
midterm-calculus.fls
midterm-calculus.log
midterm-calculus.out
